pre.layered.crane-truss.bold.strong
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                      ╔═╬══╬══╬══╬══╬══╬═╗              
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                      ╔═╬══╬══╬══╬══╬══╬═╗              
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  