pre.pipe-network
    | _____________________
    | _________ │ _________
    |                                            _____
    |           ○                               ╱  ___
    |          │ │                             ╱  ╱ 
    |          │   ______________▲____________╱  ╱
    |          │⎼⎼○______________█______________╱
    |          │                 ▼
    |          │ │         
    |           ○          
    | _________   _________
    | _________ │ _________