pre.pipe-network-base
    | _____________________
    | _________ │ _________
    |                                            _____
    |           ○                               ╱  ___
    |          │ │                             ╱  ╱ 
    |          │   ___________________________╱  ╱
    |          │⎼⎼○_____________________________╱
    |          │                  
    |          │ │         
    |           ○          
    | _________   _________
    | _________ │ _________