pre.vat-container
    |   __________  
    |  ╱          ╲ 
    | │            │
    | │            │
    | │            │
    | │╲__________╱│
    | │            │
    | │            │
    | │            │
    | │            │
    |  ╲__________╱ 