pre.layered.factory.wall.bold
  |                                                                                                                        
  |                                                                                                                        
  |                                                                                                                        
  |         ┌───────────────────────────────────────────────────────────────────────────────     ─────────────────────────┐
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         │                                                                                                             │
  |         └───────────────────────────────────────────────────────────────     ─────────────────────────────────────────┘

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  