pre.water-tank-container
  |   __________  
  |  ╱          ╲ 
  | │            │
  | │            │══════════════╗
  | │            │═════════════╗║
  | │            │             ║║
  | │            │             ║║
  |  ╲__________╱              ║║