pre.water-pipe
  |                                                                                        
  |                                                                                        
  |                                                                                        
  |                                                                                        
  |                                                                                        
  |                                                                                        
  |                                                                                        
  |                                                                            __________  
  |                                                                           ╱          ╲ 
  |                                                                          │            │══════════════╗
  |                                                                          │            │═════════════╗║
  |                                                                          │            │             ║║
  |                                                                          │            │             ◄►
  |                                                                          │            │             ║║
  |                                                                           ╲__________╱              ║║