pre.centrifuge.bold
  .layered.fuel
    |       ◎  
    |          
    |          
    |          
    |          
  .layered
    |          
    |          
    |          
    |          
    |   ○      
  .layered.strong
    |          
    |      ╱   
    |     ╱    
    |    ╱     
    |          
