pre.centrifuge.bold
  .layered.fuel
    |   ◎      
    |          
    |          
    |          
    |       ◎  
  .layered.strong
    |          
    |    ╲     
    |     ╲    
    |      ╲   
    |          
