pre.centrifuge.bold
  .layered
    |       ○  
    |          
    |          
    |          
    |   ○      
  .layered.strong
    |          
    |      ╱   
    |     ╱    
    |    ╱     
    |          
