pre.layered.centrifuge-base.bold.strong
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                        
  |                                                                                                                       
  |                                                                                    ⍾                                 
  |                                                                                                                        
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  |                                                                                                                       
  