pre.centrifuge.bold
  .layered.fuel
    |          
    |          
    | ◎      ◎
    |          
    |          
  .layered
    |          
    |          
    |  ━━━━━━━ 
    |          
    |          
