- var referenceGrid = false

doctype html
html(lang="en")
  head
    title= "Klistrad"
    link(rel="stylesheet" href="fonts.css")
    link(rel="stylesheet" href="style.css")
  body
    #title
      h1 Klístrað
    #settings
      label Double tap speed:
      input#double-tap-speed(type="range" min="0.1" max="1" step="0.025")
    #instructions
      h2 How to play:
      ul
        li Activate the objects in your reactor plant by pressing the key indicated by the label next to it.
        li Some objects require to keep the objects pressed for some duration.
        li You can double tap the indicated key to make it stick (stay pressed) until you press it again.
        li The keys Z, H, N and W, S, X are and exception to that, as they toggle between two states on press.
        li For security reasons only one of the barriers on the outer wall may be open at a time.
        li The centrifuge [C] needs to be filled on both sides and then spun 3 times before the processed fuel rods can continue along into the reactor.
    #notifications
      pre
        span#notification-text

    #game
      #size-template
      if(referenceGrid)
        include templates/referenceGrid
      else
        include templates/background
      include templates/wall
      include templates/street
      include templates/crane/crane-truss
      include templates/centrifuge/centrifuge-base
    #credits
      pre
        | Created by
        | Pascal Blessing, Matthias Gölzner
        | for the MMarmelade 4 game jam
        | April 2021