doctype html
html(lang="en")
  head
    title= "Klistrad"
    link(rel="stylesheet" href="fonts.css")
    link(rel="stylesheet" href="style.css")
  body
    .game
      include templates/background
      include templates/wall