- var referenceGrid = false

doctype html
html(lang="en")
  head
    title= "Klistrad"
    link(rel="stylesheet" href="fonts.css")
    link(rel="stylesheet" href="style.css")
  body
    #game
      #size-template
      if(referenceGrid)
        include templates/referenceGrid
      else
        include templates/background
      include templates/wall
      include templates/street